@font-face {
    font-family: webFont;
    src: url('Outfit/Outfit-VariableFont_wght.ttf');
}
body{
    font-family: webFont, 'Courier New', Courier, monospace;
    background: url('./menu_images/bamboo_sushi.jpg');
    flex-direction: column;
    display: flex;
    align-items: center;   
}
nav{
    display: flex;
    justify-content: center;
    gap: 10rem;
    background-color: #bef264;
    border-radius: 10PX;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(187, 187, 187, 0.596);
}
button{
    border-style: none;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 4px 10px rgba(173, 173, 173, 0.637);
}
button:hover{background-color: #d9f99d;}
h2{margin-top: 20px;}
p{margin-left: 10px; margin-bottom: 20px;}
#content{
    background-color: #bef264;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px rgba(184, 184, 184, 0.432);
    width: 40vw;
    border-radius: 8px;
}
.menu-item{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(141, 141, 141, 0.644);
}
.profile{
    margin-top: 10px;
    width: 150px;
    height: 150px;
}