@font-face {
    font-family: webFont;
    src: url('Outfit/Outfit-VariableFont_wght.ttf');
}
body{
    font-family: webFont, 'Courier New', Courier, monospace;
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
button{
    background-color: #cbd5e1;
    border-style: none;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 4px 10px rgba(173, 173, 173, 0.637);
}
p{margin-left: 10px; margin-bottom: 20px;}
#content{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px rgba(184, 184, 184, 0.432);
    width: 40vw;
}
.profile{
    width: 150px;
    height: 150px;
}